html {
  height: 100%;
  width: 100%;
}

.header-container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.header-container img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#greetingText{
  font-family: 'Pacifico', cursive;
  text-indent: 30px;
  position: relative;
  color: white;
  font-size: 60px;
  text-align: cenrter;
  z-index: 1;
  
}
#myImg_dimension{
  width: 700px;
  height: 600px;
}

#skillsImg_dimension{
  width: 600px;
  height: 500px;
}

h1 {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
}

/* general rule for all ul */
nav ul {
  list-style: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* rules for nav individual li items*/
nav ul li{
  margin-right: 10px;
  width: 130px;
  
}
/* rules for nav individual list items that are links*/
nav ul li a{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 25px;
  text-decoration: none;
  display: block;
  justify-content: center;
}
/* rules for nav when user hover over*/
nav ul li a:hover{
  color: coral;
  font-weight: bold;
}

.about-container{
  display: flex; /*  make it a flex container */
  flex-direction: row;
}

 .img-container{
   flex: 1;
 }

.text-container{
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  margin-top: 180px;
  flex: 1;
}

.image {
  position: relative;
  width: 400px;
  margin-right: 50px;
}

.projectImg {
  display: block;
   width: 400px;
  height: 300px;
}

.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

/* targeting every direct child of the image which is title and description*/
.img_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.img_overlay:hover {
  opacity: 1;
}

.img_overlay:hover > * {
  transform: translateY(0);
}

.img_title {
  font-size: 20px;
  font-weight: bold;
}

.img_description {
  font-size: 15px;
  margin-top: 10px;
}


.projectImage_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

button{
  background-color: lightcoral;
  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.contact_container {
  display: flex;
  flex-direction: row;
  
}

.formText_container {
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  margin-right: 180px;
  text-indent: 30px;
}
.form_container {
  margin-top: 30px;
}


form label, form input, form textarea {
  font-size: 18px;
  font-family: 'Pacifico', cursive;
  display: block;
  margin-bottom: 20px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: lightcoral;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0,0.3);
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
  font-size: 20px;
  font-weight: bold;
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.active {
  transform: translateY(0px);
  opacity: 1;
}

.dark-mode {
  background-color: black;
  color: white;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer{
  margin-top: 50px;
  background-color: lightcoral;
}

.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Hover Effects on social media icons */
.socialIcons a:hover{
  background-color: black;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerBottom{
  background-color: black;
  padding: 20px;
  text-align: center;
}

.footerBottom p{
  color: white;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

#style-list{
  margin-bottom: 20px;
}


.skillsText-container{
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  margin-left: 80px;
  margin-top: 100px;
  flex: 1;
}

.skillsImg-container{
  margin-left: 40px;
  margin-top: 60px;
}

